{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="alert alert-danger" role="alert">
        <h2 class="text-center"> Oups </h2>
        <h4 class="text-center"> Cette page n'existe pas </h4>
        {% if etatDebug == true %}
            <p class="text-center">{{ desErreurs }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}